<template>
  <div>
    <h1>@minusjs/nuxt playground</h1>
    <pre>{{ data }}</pre>
    <button @click="execute()">Refresh</button>
  </div>
</template>

<script lang="ts" setup>
const { data, execute } = useApi('/api/typed#get', {
  query: {
    input: 'hey',
  },
});
</script>
